.App {
  width: 100vw;
}

.expense-date {
  width: 100px;
}

.expense-price {
  width: 80px;
}

.chart-bar {
  width: 15px;
  height: 100px;
}

@media (min-width: 576px) {
  .App {
    width: 600px;
  }
}
